@import '../helpers/placeholders';
@import '../helpers/variables';
@import '../helpers/mixins/clearfix';
@import '../helpers/mixins/list-reset';
@import '../helpers/mixins/responsive';


.missedLetters {
    max-width: 1000px;
    width: 100%;
    order: 1;

    @include media-query(desktop) {
        order: 2;
    }

    &__header {
        color: $soil-dark;
        font-family: "allerdisplay";
        font-size: 32px;
        font-weight: 400;
        line-height: 41.02px;
        text-transform: uppercase;
        margin-top: 51px;
        margin-left: 2%;

        @include media-query(desktop) {
            margin-top: 68px;
        }

        @include media-query(screen) {
            margin-left: 160px;
        }
    }

    &__list {
        @include list-reset();
        display: flex;
        margin-left: 2%;

        @include media-query(mobile_plus) {
            margin-left: 2%;
        }

        @include media-query(screen) {
            margin-left: 160px;
        }
    }

    &__letter {
        color: $cobalt-blue;
        font-family: "allerdisplay";
        font-size: 30px;
        font-weight: 400;
        line-height: 41.02px;
        text-transform: uppercase;
        padding-right: 10px;
        
        @include media-query(tablet_plus) {
            font-size: 60px;
            padding-right: 20px;
        }

        @media screen and (min-width: 1620px) {
            font-size: 92px;
        }
    }
}