$lime-green: #76ff82;
$bird-yellow: #fffb00;
$pure-white: #ffffff;
$hell-dark: #8b8b8b;
$navy-blue: #7187ff;
$egg-yellow: #fece8a;
$ocean-green: #55ffbe;
$almost-white: #f5f5f5;
$soil-dark: #53555d;
$cobalt-blue: #2a40ad;
$dark-blue: #22488f;